/* App Size */

#root {
    max-width: 320px;
    background-color: #00003F;
    color: white;
    font-family: 'Quicksand', sans-serif; 
    font-size: 10px;
    margin: 0 auto;
}

/* Task Page Styles
    red: #F1948A
    blue: #AED6F1 
    yellow: #F9E79F
    dark blue: #00003F

    font-family: 'Quicksand', sans-serif;  
    font-family: 'Arapey', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
*/

/* Dashboard Top */

.main-content-view #settings {
    display: flex;
    position: absolute;
    width: 15px;
    padding: 2px;
}

.main-content-view h1 {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: .75rem;
}

.main-content-view h2 {
    display: block;
    text-align: right;
    font-size: .4rem;
    margin-top: -20px;
    padding: 2px;
}

.main-content-view h3 {
    display: block;
    text-align: right;
    font-size: .6rem;
    margin-right: 2px;
    margin-bottom: 15px;
}

/* Navigation Links */

.navigation-links {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.navImg {
    border: solid 1px black;
    display: flex;
    width: 70px;
    border-radius: 2mm;
}

.navlinks img {
    display: flex;
    /* justify-content: center; */
    width: 70px;
}