/* Styles
red: #E91E63
blue: #2196F3
yellow: #FFCA28
dark blue: #00003F

font-family: 'Quicksand', sans-serif;  
font-family: 'Arapey', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

.container {
    background-color: #00003F;
    color: white;
    border-bottom-left-radius: 5mm;
    border-bottom-right-radius: 5mm;
    width: 320px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 100px;  
}

/* Hamdurdur Menu */

.hamburger {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: 2px;
}

.hamburger-lines {
    display: block;
    margin: 0 auto;
    margin-top: 3px;
    border-top: solid 1px #eee;
    width: 10px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hamburger:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Dashboard */

.dashboard-content-view h1 {
    text-align: center;
    font-size: 1.3rem;
    margin-top: -20px;
}

.dashboard-content-view h2 {
    text-align: right;
    font-size: .70rem;
    padding: 2px;
}

.dashboard-content-view h3 {
    text-align: right;
    font-size: 1rem;
    padding: 2px;
}

.counters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.counters div {
    width: 50px;
    font-size: .7rem;
}