.goals-content-view {
    margin: 0 auto;
}

#show-steps-form {
    display: block;
    visibility: hidden;
}

#show-steps {
    display: block;
    visibility: hidden;
}

.title {
    display: flex;
    position: absolute;
}

.span-toggle {
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
    margin-bottom: 20px;
}

.strong {
    font-weight: bold;
}
  