/* 
red: #E91E63
blue: #2196F3
yellow: #FFCA28
dark blue: #00003F
light blue: #5DADE2

font-family: 'Quicksand', sans-serif;  
font-family: 'Arapey', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

.goals-content-view {
    margin: 0 auto;
}

.title {
    display: flex;
    position: absolute;
}

.span-toggle {
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
    margin-bottom: 20px;
}

.strong {
    font-weight: bold;
}

/* toggle switches between today page or tomorrow page */
.toggle-tasks {
    display: block;
    margin-top: -10px;
    font-size: .5rem;
  }
  /* form */
#goal-form-input {
    background: 0;
    color: #FFFFFF;
    padding-left: 10px;
    border: 0;
    outline: none;
    width: 188px;
    font-family: 'Quicksand', sans-serif;  
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;
    margin-top: 5px;
    position: absolute;
}

#goal-form-input:focus + .goal-line:after {
    transform: scaleX(1);
}

.goal-line {
    width: 200px;
    height: 3px;
    bottom: -8px;
    border-radius: 2mm;
    background: #FFFFFF;
    margin-top: 40px;
}

.goal-line:after {
    position: fixed;
    content: " ";
    float: right;
    width: 200px;
    height: 3px;
    transform: scalex(0);
    transition: transform 0.3s ease;
    background: #2196F3;
}
    
#goal-form-button {
    display:block;
    float: right;
    background-color:#00003F;
    padding:0.20em .5em;
    border: 0;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Quicksand', sans-serif;  
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    margin-top: -30px;
    margin-bottom: 20px;
}

#goal-form-button:hover{
    color:#1abc9c;
}
/* spacer saves space for the form and keeps content below fixed */
.form-spacer {
    display: block;
    margin-bottom: 39.5px;
}
/* tasks item area */
.goal-contents {
    position: fixed;
    margin-top: 20px;
    color: black;
    width: 278px;
    height: 218px;
}

.goal-item {
    display: flex;
    align-items: center;
    border-bottom: .5px solid #4095c6;
}

.span-item {
    margin-left: 5px;
    cursor: pointer;
}
/* remove item button */
.remove-button {
    display: flex;
    position: absolute;
    right: 0;
    font-size: .6rem;
    cursor: pointer;
}

.goal-contents {
    margin-top: 20px;
}

.goal-card-info {
    border: solid 1px red;
}

.goal-card-info h5 {
    font-size: 1rem;;
}

/* Steps Styles */

.step-items {
    background: #a7a7a7;
}

.unvisible {
    display: none;
}

.visible {
    display: block;
}