/* Styles
red: #E91E63
blue: #2196F3
yellow: #FFCA28
dark blue: #00003F

font-family: 'Quicksand', sans-serif;  
font-family: 'Arapey', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

.navigation-container {
    
}

.navigation-image {
    display: flex;
    border-radius: 2mm;
}

.navigation-image img {
    width: 70px;    
}