/* 
red: #E91E63
blue: #2196F3
yellow: #FFCA28
dark blue: #00003F
light blue: #5DADE2

font-family: 'Quicksand', sans-serif;  
font-family: 'Arapey', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

@media all and (max-width:30em){
  #form-button {
    display:block;
    margin:0.4em auto;
  }
  .clear-button {
    display:block;
    margin:0.2em auto;
  }
}

/* Today's Tasks/Tomorrow's Tasks Title */
.title {
  display: flex;
  position: absolute;
  margin-top: 10px;
}

/* toggle switches between today page or tomorrow page */
.toggle-tasks {
  display: block;
  position: absolute;
  font-size: .5rem;
}
.strong {
  font-weight: bold;
  cursor: pointer;
}

/* add task/hide */
.span-toggle {
  display: flex;
  justify-content: flex-end;
  font-size: .6rem;
  cursor: pointer;
}
.instruction {
  display: block;
  font-size: .5rem;
  text-align: center;
}

/* form */
#form-input {
  border: solid 1px white;
  background: 0;
  color: #FFFFFF;
  padding-left: 10px;
  border: 0;
  outline: none;
  width: 200px;
  font-family: 'Quicksand', sans-serif;  
  font-size: 1.5em;
  transition: padding 0.3s 0.2s ease;
  /* margin-top: 10px; */
}
#form-input:focus + .line:after {
  transform: scaleX(1);
}
.line {
  width: 220px;
  height: 3px;
  bottom: -8px;
  border-radius: 2mm;
  background: #FFFFFF;
}
.line:after {
  position: fixed;
  content: " ";
  float: right;
  width: 220px;
  height: 3px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: #E91E63;
}

#form-button {
  display: block;
  float: right;
  background-color:#00003F;
  padding: 0.20em 0;
  border: 0;
  margin: 0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Quicksand', sans-serif;  
  color:#FFFFFF;
  text-align: center;
  transition: all 0.2s;
  margin-top: -30px;
}
#form-button:hover{
  color:#1abc9c;
}

/* tasks item area */
.task-contents {
  color: black;
  display: relative;
  position: absolute;
  margin-top: 20px;
  width: 278px;
  height: 255px;
  /* border: solid 1px black; */
}
.task-contents-window {
  overflow-y: auto;
  text-align:justify;
  height: 210px;
  /* border: solid 1px blue; */
}
.empty-task-list {
  margin-left: 5px;
}
.task-item {
  display: flex;
}
.item-view {
  display: block;
  flex-direction: column;
}
.span-item {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  width: 230px;
  overflow-wrap: break-word;
}
.blue-line {
  position: relative;
  display: block;
  border: solid .5px #5DADE2;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 280px;
  margin-bottom: 2px;
}

/* remove item button */
.remove-button {
  display: flex;
  position: absolute;
  right: 5px;
  font-size: .6rem;
  cursor: pointer;
  bottom: 2px;
}

/* button that clears completed tasks */
.clear-button {
  display:inline-block;
  position: absolute;
  background-color:#4eb5f1;
  right: 5px;
  bottom: 5px;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2em;
  text-decoration: none;
  padding: 0.3em 1.2em;
  border: 0;
  font-weight: 300;
  font-size: .8rem;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.4s;
}
.clear-button:hover {
  background-color:#4095c6;
}

/* scrollbar */
* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: inherit;
}
*::-webkit-scrollbar-thumb {
  background-color: #E91E63;
  border-radius: 20px;
  border: 3px solid white;
}