/* 
red: #E91E63
blue: #2196F3
yellow: #FFCA28
dark blue: #00003F
light blue: #5DADE2

font-family: 'Quicksand', sans-serif;  
font-family: 'Arapey', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

/* Buzz Out */

.task-page-view {
  font-family: 'Quicksand', sans-serif;  
}

.button {
  /* display: block; */
  margin-left: 20px;
}